.Header{
    background-color: #077FD9;
    height: 60px;  
    display: flex;
    align-items: center;
}

#HeaderTitle{
    color: white;
    margin: 0px;
    padding: 0px;
    font-size: 14px;
    font-weight: normal;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

span{
    font-weight: bold;
    color: #FFFFFF;
}

#profilePic{
    width: 40px;
    height: auto;
    margin: 0px;
}

#burgerMenu{
    width: auto;
    height: 20px;
    margin: 0px;
    margin-left: 25px;
    margin-right: 25px;
}

.Logo{
    margin-left: 15px;
}

.Profile{
    margin-left: auto;
    display: flex;
    margin-right: 15px;
}

.userInfo{
    align-self: center;
    margin-right: 10px;
    font-size: 14px;
    font-weight: normal;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.Dropdown{
    width: 140px;
    height: 90px;
    background-color: lightgray;
    position: absolute;
    right:0;
    display: flex;
    margin-right: 5px;
    align-items: center;
    justify-content: center;
    border-width: 1px;
    border-style:solid;
    border-color: #F4F4F8;
}

#DisconnectButton{
    border-color: white;
    background-color: red;
    border-width: 1px;
    border-style:solid;
    width: 100px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: normal;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
