.SubSideContainer{
    display: flex;
    height: 35px;
    width: 100%;
    padding-left: 20px;
    justify-content: flex-start;
    border-width:2px;
    border-style:solid;
    border-color:#F5F5F5;
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
}

.SubSideButtonText{
    margin: 0px;
    color: #404852;
    font-size: 13px;
    font-weight: normal;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#square{
    width: 10px;
    height: auto;
    margin: 0px;
    margin-right: 15px;
}

.lien{
    display: flex;
    width: 100%;
    align-items: center;
}